body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
@font-face {
  font-family: "AvenirNext";
  src: url("./fonts//AvenirNext/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family:"HelviticaNue";
  src: url('./fonts/helveticaneue/HelveticaNeue\ Light.ttf');
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* .datadiv::selection, */
.datadiv::selection {
  background: red;
}



.css-nxupuj-MuiModal-root {
  overflow-y: auto;
}
